* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 13px;
  background-color: hsl(210, 46%, 95%);
  display: flex;
  flex-direction: column;
  justify-content: center;

  align-content: flex-start;
}

main {
  height: 90vh;
  width: 1140px;
  margin: auto auto;
  padding: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-areas:
    "card1 card1 card2 card3"
    "card4 card5 card5 card3";
  gap: 20px;
  transition: all 0.5s;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

.type-one-bg {
  background-color: hsl(263, 55%, 52%);
}

.type-two-bg {
  background-color: hsl(217, 19%, 35%);
}

.type-three-bg {
  background-color: hsl(219, 29%, 14%);
}

.type-four-bg {
  background-color: hsl(0, 0%, 100%);
}

.color-white {
  color: white;
}

.color-black {
  color: black;
}

.text100 {
  font-family: "Barlow Semi Condensed", sans-serif;
}

/*CARD CSS*/
.card {
  border-radius: 5px;
  box-shadow: 1px 2px 3px hsl(0, 0%, 81%);
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  padding-bottom: 20px;
}

.card-header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 20px;
}

.card-header img {
  border-radius: 50%;
  margin-right: 20px;
  height: 30px;
  width: 30px;
}

.card-header .title {
  opacity: 0.5;
}

.card-header .author {
  font-weight: bold;
  opacity: 0.7;
}

article {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0px 20px 20px 20px;
}

.card .text {
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 20px;
  line-height: 30px;
}

article .excerpt {
  opacity: 0.7;
}

.card1 {
  grid-area: card1;
  background-image: url(./images/bg-pattern-quotation.svg);
  background-repeat: no-repeat;
  background-position: top 0px right 100px;
}

.card2 {
  grid-area: card2;
}

.card3 {
  grid-area: card3;
}

.card4 {
  grid-area: card4;
}

.card5 {
  grid-area: card5;
}

@media only screen and (max-width: 1140px) {
  main {
    width: 80%;
    height: auto;
    margin: 0 auto;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "card1 card4"
      "card3 card2"
      "card5 card5";
  }
}

@media only screen and (max-width: 875px) {
  main {
    width: 90%;
    height: auto;
    margin: 0 auto;
    grid-template-columns: 1fr;
    grid-template-areas:
      "card1"
      "card2"
      "card3"
      "card4"
      "card5";
  }
}

@media only screen and (max-width: 375px) {
  main {
    min-width: 350px;
    width: 100%;
    height: auto;
    grid-template-columns: 1fr;
    grid-template-areas:
      "card1"
      "card2"
      "card3"
      "card4"
      "card5";
  }
}
